<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}" >
    <style>


    </style>
</head>
<body>
 <div class="main-block">
    <table>
      <thead>
        <tr class="border_bottom">
          <th>Task Type</th>
          <th>User</th>
          <th>Country</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Start Day</th>
          <th>End Day</th>
         <th>Action</th>
        </tr>
      </thead>
      <tbody>
      {% for each in task %}
        <tr class="border_bottom">
          <td>{{each.task_type}}</td>
          <td>{{each.user}}</td>
          <td>{{each.country}}</td>
          <td>{{each.start_time}}</td>
          <td>{{each.end_time}}</td>
          <td>{{each.start_day}}</td>
          <td>{{each.end_day}}</td>
          <td><a  href="/config_time/{{each.id}}"><button>Config</button></a></td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
    </div>
</body>
</html>