<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Contact form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
      <link rel="stylesheet" href="{% static "css/style.css" %}" >
    <style>

       button {
      width: 80%;
      }


    </style>
  </head>
  <body>
    <div class="main-block">

          <div class="secondary">
              <h1>Output:</h1>
              <h2>{{status}}</h2>
              <a href="/"><button>Home</button></a><br><br>
          </div>

    </div>
  </body>
</html>